 body {
    font-family: 'Roboto', sans-serif;
 }

header {
    background: darkslateblue;
    color: #fff;
    text-align: center;
}

label.tintBox.d-block.p-2 {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
    i.fa.fa-newspaper-o, i.fa.fa-calendar {
        display: none;
    }
    h1 {
        font-size: 32px;
    }
}