 body {
    font-family: 'Roboto', sans-serif;
 }

header {
    background: darkslateblue;
    padding: 35px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;

}

.container {
    margin: 0 auto;
    padding: 20px;
}

.topArticles {
    background: lightgray;
    padding: 5px;
    padding-bottom: 1px;
}

.search {
    margin-bottom: 10px;
    margin-top: 0;
}

.mainContainer {
    border: 1px solid lightgray;
    padding: 10px;
}

label.topArticles.d-block.p-2 {
    font-weight: bold;
}

.secondaryContainer {
    margin-top: 20px;
    border: 1px solid lightgray;
    padding: 10px;
    font-weight: bold;
}

pt